<nav class="navbar-default navbar-fixed-bottom navbar-inverse">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-5 col-md-10 col-md-offset-1">
        <ul class="nav navbar-nav">
          <p>Sepp from Munich</p>
        </ul>
      </div>
    </div>
</nav>
