<footer class="navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-4 col-md-10 col-md-offset-1">
        <span>Elemente 1</span>
        <span>Elemente 1</span>
        <span>Elemente 1</span>
      </div>
    </div>
</footer>
