<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "|Start|", root_path %>
    <%= link_to  "|Help|" , "#" %>
    <%= link_to  "|Contact|" , "#" %>
  </div>
</nav>
